body {
font-family:Comic Sans MS,arial,helvetica,sans-serif;
font-size: 17px;
line-height: 1.42857;
color: #696f6f;
background-color: white;
}

h4{
color: #1B1B1B;
font: bold 18px/24px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform: uppercase;
margin-bottom: 12px;
}
h2{
color: #373737;
margin-bottom:30px;
font-weight: bold;
}
.h2-2{
	text-align:right;
}
h3{
font-size: 20px;
color: #696969;
}
a.button {
position: absolute;
top:330px;

text-decoration: none;
float: left;
line-height: 4px;
color: white;
}
.btn-prime{
color: white;
background: #3FA808;
}
.btn-prime:hover {
color:#fff;
background: #3B9A09;
border-color: #3FA808;
}
.button {
    background-color:#BB5500; /*#4CAF50;  Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
a.button.button-stripe {
background-color: rgba(0, 0, 0, 0.2);
border-color: white;
}
a.button.button-stripe:hover {
color: #222222;
background-color: white;
border-color: white;
} 
a.button.button-stripe {
background-color: rgba(0, 0, 0, 0.2);
border-color: white;
}
a.button:hover {
color: white;
}
.button:hover {
background: #54BC11;
border-color: #53BB10;
}
.buttons-wrapper .button-stripe {
margin-left: 14px;
}
header .buttons-wrapper {
padding-top: 21px;
padding-bottom: 50px;display: inline-block;float: left;}
.side-nav {
position: fixed;
top: 30%;
right: 60px;
z-index: 1030;
}
.side-nav ul.nav-side-nav {
text-align: left;
list-style: none;
margin: 0;
padding-left: 0;
}
.side-nav ul.nav-side-nav > li {
display: block;
line-height: 1.42857;
margin: 0;
padding: 8px 0;  	//nav距離
}
.side-nav ul.nav-side-nav > li > a {
display: block;
width: 10px;
height: 10px; 
background:red;
}
.mainBanner {
padding-top: 100px;
padding-bottom: 100px;
}
.background_img{
    background-image: url("../ground/wood.jpg"),
					  url("../ground/wood.jpg");
    background-repeat: no-repeat,
					   no-repeat;
    background-attachment: fixed,
							fixed;
    background-position:center,
						center;
    
}



.mainBanner {
padding: 30px 0;
margin-bottom: 0;
color: white;
background:#003664;
background-size: cover;
text-align: center;
background:url(../ground/keelung.jpg) top no-repeat;
background-color:black;
background-size:100% 100%; 
} 	
.mainBanner .img-logo {
display:block;
width: auto;
height: auto;
margin-top: 50px;
margin-bottom: 170px;
}
.mainBanner h1, .mainBanner .h1 {
font-size: 75px;
text-align: left;
color: #E9FAFF;
text-transform: uppercase;
}
.mainBanner p {

font-size: 20px;
font-weight: 200;
text-align:left;
color: #DDE3EA;
}
.mainBanner  img.img-iPhone {
position: relative;
bottom: -106px;
}
.mainBanner .btn-app-store {
margin-top: 40px;
}
.mainBanner p {

font-size: 20px;

font-weight: 200;

line-height: 32px;

}
.mainBanner .btn-app-store .btn.btn-lg, .mainBanner .btn-app-store .btn-group-lg > .btn {
padding: 0;
}
.mainBanner .img-iPhone {
display: block;
margin-left: auto;
margin-right: auto;
width: 505px;
height: auto;
}
.highlights {
  background-image: url("../ground/background.jpg");
  background-size:100% 100%;
 
  text-align: center;
  padding: 100px 0;
}
.highlights .row.row-padding {
  padding-top: 40px;
}

.highlightsCol {
  padding-bottom: 20px;
} 
.highlightsImg.img-margin {
margin-top: 14px;
margin-bottom: 31px;
}
.highlightsImg {
display: block;
margin-left: auto;
margin-right: auto;
width: 80px;
height: auto;
margin-top: 20px;
margin-bottom: 30px; 
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.ourFeatures {
  text-align: left;
  padding: 10px 0 0;
}
.ourFeatures .row.row-padding {
  padding-top: 40px;
}
.ourFeatures .img-iPhone {
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
height: auto;
}
.ourFeatures .btn-prime-border {
background: transparent;
border-width: 2px;
border-style: solid;
border-color: #dc554f;
color: #dc554f;
padding-top: 8px !important;
padding-bottom: 8px !important;
}
.featuresBtm{
margin-top:125px;
margin-bottom:0px;
}
.subscribe {
background: url(../images/bg.jpg) top left repeat;
text-align: center;
padding: 100px 0;
background-size: cover;
color: white;
display:block;
}
.subscribe h2{
color:#fff;
}
.subscribe input{
padding: 20px 10px;
width: 350px;
}
.subscribe button{
color: white;
background: #3FA808;
margin: 0px;
padding: 10px 20px;
margin-left: -10px;
}
.subscribe-description { 
padding: 40px 0;
}
.footer-section {
background: white;
text-align: left;
padding: 60px 0;
}
.addthis_default_style {
text-align: left;
list-style: none;
margin: 0;
padding-left: 0;
}
.addthis_default_style li:first-child {
margin-left: -2px;
}
.addthis_default_style li {
display: inline-block;
line-height: 1.42857;
margin: 0;
padding: 0;
}
.addthis_default_style a {
display: block;
}
.social-icons {
float:right;
}
.social-icons a{ 
color: #3FA808;
text-decoration: none;
padding: 0px 0 0 15px;
border: 1px solid #3FA808;
border-radius: 50%;
width: 45px;
float: left;
margin: 5px;
height: 45px;
line-height: 45px; 
}
.simple-content ul li {
font-size: 18px;
line-height: 32px;
font-weight: 300;
margin-bottom: 18px;
list-style:none;
}
.simple-content ul li span {
display: block;
overflow: hidden;
}
@media (max-width: 768px) {
.mainBanner .img-logo {
display: initial;
width: auto;
height: auto;
margin-top: 50px;
margin-bottom: 40px;
}
.mainBanner h1, .mainBanner .h1 {
font-size: 25px; 
line-height: 35px;
text-align:center;
}
.mainBanner p {
margin-bottom: 15px;
font-size: 16px;
font-weight: 200;
text-align:center;
}
.mainBanner .img-iPhone { 
width: 267px; 
bottom: -106px;display: none;}


img.img-btm {
width: 100%;
}




}
/*--------------------------img position--------------------------------------------*/

.evenimg{
	position:relative;
	left:73px;
	top:18px;
}
.oddimg{
	position:relative;
	top:18px;
}
/*--------------------------ghost--------------------------------------------*/
.ghost1{
  position:absolute;
  right:860px;
  top:890px;
  z-index:1;
}

.ghost2{
  position:absolute;
  right:835px;
  top:890px;
  z-index:1;
}
.ghost3{
  position:absolute;
  right:860px;
  top:916px;
  z-index:1;
}

.ghost4{
  position:absolute;
  right:835px;
  top:916px;
  z-index:1;
}
.ghost5{
  position:absolute;
  right:810px;
  top:916px;
  z-index:1;
}

.ghost6{
  position:absolute;
  right:860px;
  top:940px;
  z-index:1;
}
.ghost7{
  position:absolute;
  right:835px;
  top:940px;
  z-index:1;
}

.ghost8{
  position:absolute;
  right:810px;
  top:940px;
  z-index:1;
}
.ghost9{
  position:absolute;
  right:720px;
  top:810px;
  z-index:1;
}

.ghost10{
  position:absolute;
  right:730px;
  top:790px;
  z-index:1;
}
.ghost11{
  position:absolute;
  right:830px;
  top:810px;
  z-index:1;
}



/*--------------------------title--------------------------------------------*/
.titletext{
	position: absolute;
	top:0;
}
/*--------------------------button_pdf--------------------------------------------*/
.button_pdf{
	color:#BB5500;
}

/*--------------------------addbook--------------------------------------------*/

.addstory{
position: absolute;
top: 0px;
right:0px;
}
.addstory2{
float:left;	
position: relative;
top: 0px;
left:0px;
}
/*--------------------------table---------------------------------------------*/
.onerow{ text-align: center; 
         color: black;
         background-color: white; }
.tworow{ text-align: center; 
         color: black;
         background-color: #FF8888; }
table, td, th { border: 1px solid black; 
                padding: 4px; 
}
table         { margin-left:auto; 
				margin-right:auto;
				width: 300px;
                border-collapse:collapse;
				text-align: center; 
				color: white;
				background-color: #880000; }
/*--------------------------button--------------------------------------------*/
/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	border-radius: 8px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}



